@import "tailwindcss";

@layer utilities {
  .scrollbar-minimal::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-minimal::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-minimal::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05); /* almost invisible */
    border-radius: 4px;
  }
  .scrollbar-minimal::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  .scrollbar-minimal {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.05) transparent; /* For Firefox */
  }
}